nav.navbar.navbar-light(style='background-color: lightblue;')
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/')
        font(color='black') MyCity
    ul.nav.navbar-nav
      li
        a(href='/hyderabad')
          font(color='black') Hyderabad
      li
        a(href='/delhi')
          font(color='black') Delhi
      li
        a(href='/mumbai')
          font(color='black') Mumbai
      li
        a(href='/bangalore')
          font(color='black') Bangalore
      li
        a(href='/kolkata')
          font(color='black') Kolkata
