html
   head
    include partials/Header.jade
   body
    include partials/Navigation.jade
    br
    br
    include partials/Align.jade
    br
    .container
      .row
        .col-md-12
          img.img-responsive(src='images/Home.jpg', alt='iLoveMyCity' style='width:1150px;height:480px')
    include partials/Footer.jade
